= render 'artist_wizard_header'

.row
  .large-4.columns
    %h3 Tell us what make your work special.
  .large-7.columns
    = simple_form_for @artist, url:wizard_path do |f|
      = f.error_notification

      .field
        = f.input :bio

      %br

      .field
        = f.input :specialties

      .form_actions
        = f.button :submit, "Next", class: 'button'


