= render 'artist_wizard_header'

.row
  .large-4.columns
    %h3 Help your new fans get in touch with you.
  .large-7.columns
    = simple_form_for @artist, url: wizard_path do |f|
      = f.error_notification

      .field
        = f.input :instagram

      .field
        = f.input :twitter

      .field
        = f.input :flickr

      .field
        = f.input :facebook

      .field
        = f.input :email

      .field
        = f.input :phone


      .form_actions
        = f.button :submit, "Next", class: 'button'