%h3= "#{@artist.full_name}'s Reviews"
- @comments.each do |comment|
  - if comment.id
    .comment_div
      %div.user= link_to comment.user.username, comment.user
      %div.comment_content= comment.comment_content
    - if comment.user == current_user
      %div.comment_delete= link_to 'Delete Review', artist_comment_path(@artist.id, comment), method: :delete, data: { confirm: 'Are you sure?' } 

%hr
= form_for(@comment, :url => "/artists/#{@artist.id}/comments") do |f|

  - if @comment.errors.any? 
    #error_explanation
      %h2= pluralize(@comment.errors.count, "error") +'prohibited this comment from being saved:'

  %ul
    - @artist.errors.full_messages.each do |msg| 
      %li= msg

  .field
    = f.text_area :comment_content, :placeholder => "What do you think of #{@artist.full_name}'s work?"
  
  = f.submit "Review #{@artist.full_name}", class: 'button tiny'