<h3>
  <%= "#{@artist.full_name}'s Reviews" %>
</h3>
<% @comments.each do |comment| %>
  <% if comment.id %>
    <div class="comment_div">
      <div class="user">
        <%= link_to comment.user.username, comment.user %>
      </div>
      <div class="comment_content">
        <%= comment.comment_content %>
      </div>
    </div>
    <% if comment.user == current_user %>
      <div class="comment_delete">
        <%= link_to 'Delete Review', artist_comment_path(@artist.id, comment), method: :delete, data: { confirm: 'Are you sure?' }  %>
      </div>
    <% end %>
  <% end %>
<% end %>
<hr/>
<%= form_for(@comment, :url => "/artists/#{@artist.id}/comments") do |f| %>
  <% if @comment.errors.any?  %>
    <div id="error_explanation">