%h2 Edit Your Artist Portfolio
= simple_form_for(@artist) do |f|
  = f.error_notification

  .field
    = f.input :first_name

  .field
    = f.input :last_name

  .field
    = f.input :location

  .field
    = f.input :tattoo_shop

  .field 
    = f.input :tattoo_shop_url, :label => "Tattoo shop website"

  .field
    = f.input :bio

  .field
    = f.input :specialties

  .field
    = f.input :twitter

  .field
    = f.input :instagram

  / .field
  /   = f.input :flickr

  .field
    = f.input :facebook

  .field
    = f.input :email

  .field
    = f.input :phone

  .form_actions
    = f.button :submit, "Next", class: 'button'