.row
	.artistsindex.large-12.columns
		%h1 Browse Tattoo Artists
		- @artists.each do |artist|
			.artistcontainer.large-2.columns.end.panel
				- if artist.avatar_url
					= image_tag ("hashlogo.png")
				- else
					= image_tag ("avatardefault.gif")
				%br
				.artisttext
					= link_to "#{artist.full_name}", artist_path(artist)
					%br
					= "#{artist.location}"