= render 'artist_steps/artist_wizard_header'

.row
  .large-4.columns
    %h3 Let's start with the basics...

  .large-7.columns
    = simple_form_for(@artist) do |f|
      = f.error_notification

      .field
        = f.input :first_name

      .field
        = f.input :last_name

      .field
        = f.input :location

      .field
        = f.input :tattoo_shop

      .field
        = f.input :tattoo_shop_url, :label => "Tattoo shop's Website"

      .form_actions
        = f.button :submit, "Next", class: 'button'

