%h1= "#{@artist.full_name}"

.career
	%p= "Location: #{@artist.location}"
	%p= "Tattoo Shop: #{@artist.tattoo_shop}"
.about
	%p= "Bio: #{@artist.bio}"
	%p= "Specialties: #{@artist.specialties}"
.social
	%p= "Instagram: #{@artist.instagram}"
	%p= "Flickr: #{@artist.flickr}"
	%p= "Twitter: #{@artist.twitter}"
	%p= "Facebook: #{@artist.facebook}"
