.artist_page.large-12.columns
  .username
    %h1= "#{@artist.full_name}"
  .artistpic
    = image_tag("artlogo.gif")
%ul.breadcrumbs
  %li
    .social
      = if_social(@artist,:facebook) do
        = build_link(@artist,:facebook)
      = if_social(@artist, :flickr) do
        = build_link(@artist,:flickr)
      = if_social(@artist, :twitter) do
        = build_link(@artist,:twitter)
      = if_social(@artist, :instagram) do
        = build_link(@artist,:instagram)
  %br
  %li
  %li.current
    %a{:href => "#"} #{@artist.location}
  %li
    %a{:href => "http://www.atomic-tattoo.com/"} #{@artist.tattoo_shop} Tattoo Shop

.row
  .artist_bio.large-4.columns
    %h3= "Artist Bio"
    %p= "#{@artist.bio}"
    %hr
    %h3= "Specialties"
    %p= "#{@artist.specialties}"
  .arttatshow.large-offset-1.large-7.columns
    %h2= "Tattoos"
    - if @artist.tattoos.length == 0
      - if @artist.user_id == current_user.id
        = link_to "Add Your First Tattoo", new_artist_tattoo_path(@artist), class: 'button'
      - else
        This artist hasn't added any tattoos to their portfolio yet.
    - else
      - @artist.tattoos.each do |tattoo|
        .tatcontain.large-2.columns
          = link_to image_tag(tattoo.picture_url(:large_medium_square)), tattoo
      - if user_signed_in?
        - if @artist.user_id == current_user.id
          %hr
          = link_to "Add Another Photo To Your Portfolio", new_artist_tattoo_path(@artist), class: 'button'
    .commentsreview

