%h2 Edit Your Profilee
= simple_form_for(@user) do |f|
  = f.error_notification

  .field
    = f.input :location

  .field
    = f.input :about_me

  .field
    = f.input :memorable_story

  .form_actions
    = f.button :submit, "Submit", class: 'button'