<h3><%= @user.username %></h3>

  <p>
    <b>About Me:</b>
  </p>

  <p>
    <b>Where I Live:</b>
  </p>

  <p>
    <b>Favorite Artists:</b>
  </p>

<p>
  <b> Tats I added
</p>

<% @tattoos.each do |tattoo| %>
	<div class= "user_tat">
    <%= show_tattoo_photo_profile(tattoo) %>
		<%#= link_to image_tag(tattoo.picture_url(:large_medium_square)), tattoo %>
	</div>
<% end %>

<!-- #Unsuccessfully tried to use best in place gem -->
 <!-- <p>
  <b>Favorite Story About a Tat:</b>
    <%= @user.memorable_story %>
    <span class='best_in_place' id='best_in_place_user_<%= current_user.id %>_memorable_story' data-url='/users/<%= current_user.id %>' data-object='user' data-attribute='memorable_story' data-ok-button='save' data-type='textarea'><%= @user.memorable_story %></span>   
</p>
 -->

<hr>

<p>
  <b>Liked Tats:</b>
</p>

