<h3><%= @user.name %></h3>

  <p>
    <b>About Me:</b>
    <%= best_in_place_if current_user == @user, @user, :about_me, :type => :input, :activator => "#activator" %><a href="#" id="activator">Edit</a>
  </p>

  <p>
    <b>Location:</b>
    <%= best_in_place @user, :location %>
  </p>

  <p>
    <b>Number of Tattoos:</b>
    <%= best_in_place @user, :tat_number %>
  </p>

  <p>
    <b>Favorite Tattoo Artist:</b>
    <%= best_in_place @user, :fav_artist %>
  </p>

  <p>
    <b>The Craziest Thing Anyone's Ever Asked Me About My Tattoo:</b>
    <%= best_in_place @user, :memorable_story %>
  </p>


<% @tattoos.each do |tattoo| %>
	<div class= "user_tat">
		<%= link_to image_tag(tattoo.picture_url(:large_medium_square)), tattoo %>
	</div>
<% end %>