.row
  .large-12.columns
    .leftside.large-3.columns.panel
      .avatarshow
        - if @user.avatar.present?
          = image_tag (@user.avatar)
        - else
          = image_tag ("hashlogo.png")
      .usernametitle
        %h1 #{@user.username}
        %hr
        = "#{@user.location}"
        %br
        - if @user == current_user
          = link_to "Edit your profile", edit_user_path
        - else

     

    .rightside.large-offset-1.column.large-8.columns
      %h1 Ink
      %hr
      - if @user.tattoos.size == 0
        = "No Ink added."
      - else
        - @tattoos.each do |tattoo|
          .user_tat.large-3.columns
            = show_tattoo_photo_profile(tattoo)
.row
  .righside.large-3.columns.panel
    - if !current_user.artist
      Are you a tattoo artist? Create your custom artist portfolio now in less than a minute.
      = link_to "Build an Artist Portfolio", new_artist_path, class: 'tiny button'