<h1>Add a Tattoo To Your Portfolio</h1>
<%= simple_form_for([@artist, @tattoo]) do |f| %>
  <%= f.error_notification %>
  <div class="field">
    <%= f.input :picture, :as => :file %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
   <div class="field">
    <%= f.input :gender, :collection =>[['Female',:female],['Male',:male]], :as => :radio_buttons %>
  </div>
   <div class="field">
    <%= f.input :body_location, 
    :collection => [['shoulder',:shoulder], ['arm',:arm], ['hand',:hand],['neck',:neck],['chest',:chest],['upper back',:upper_back], ['lower back',:lower_back], ['torso',:torso], ['calf',:calf], ['leg',:leg], ['feet',:feet], ['face',:face], ['other', :other]]
     %>
  </div>
  <div class="field">
    <%= f.input :studio %>
    <%= f.hidden_field :artist_id, :value => params[:artist_id] %>
  </div>
   <div class="field">
    <%= f.input :location, :placeholder => 'eg. Austin, Texas' %>
  </div>
  <!--   Not showing hashtags until browsing working -->
 <!-- <div class="field"> -->
    <%#= f.input :hashtags %>
  <!-- </div> -->
  <div class="form_action">
    <%= f.button :submit, "Add To My Portfolio" %>
  </div>
<% end %>


<!-- HAML version
%h1 Add a Tattoo To Your Portfolio

= simple_form_for([@artist, @tattoo]) do |f|
  = f.error_notification

  .field
    = f.input :picture, :as => :file
  .field
    = f.input :description
  .field
    = f.input :body_location,
    :collection => [['shoulder',:shoulder], ['arm',:arm], ['upper back',:upper_back], ['torso',:torso], ['lower back',:lower_back], ['face',:face], ['neck',:neck], ['calf',:calf], ['leg',:leg], ['other', :other]]
  .field
    = f.input :studio
    = f.hidden_field :artist_id, :value => params[:artist_id]
  .form_action
    = f.button :submit, "Add To My Portfolio"
 -->


