<%= simple_form_for(@tattoo) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :picture, :as => :file %>
  </div>
  <div class="field">
    <%= f.input :description, label: "Story", :placeholder => "Share the story of this tattoo. It's exciting and powerful." %>
  </div>
  <div class="field">
    <%= f.input :gender, :collection =>[['Female',:female],['Male',:male]], :as => :radio_buttons %>
  </div>
  <div class="field">
    <%= f.input :body_location, 
    :collection => [['shoulder',:shoulder], ['arm',:arm], ['hand',:hand],['neck',:neck],['chest',:chest],['upper back',:"upper back"], ['lower back',:"lower back"], ['torso',:torso], ['calf',:calf], ['leg',:leg], ['feet',:feet], ['face',:face], ['other', :other]]
     %>
  </div>
  <div class="field">
    <%= f.input :artist_name%>
  </div>
  <div class="field">
    <%= f.input :studio%>
  </div>
  <div class="field">
    <%= f.input :location, :placeholder => 'eg. Austin, Texas' %>
  </div>
<!--   Not showing hashtags until browsing working -->
 <!-- <div class="field"> -->
    <%#= f.input :hashtags %>
  <!-- </div> -->
  <div class="form-actions">
    <%= f.button :submit, "Submit", class: 'small button' %>
  </div>
<% end %>

