<%= simple_form_for(@tattoo) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :picture, :as => :file %>
  </div>
  <div class="field">
    <%= f.input :description, label: "Story", :placeholder => "Share the story of this tattoo. If you don't know full the story describe what's compelling about this tattoo." %>
  </div>
  <div class="field">
    <%= f.input :gender, :collection =>[['Female',:female],['Male',:male]], :as => :radio_buttons %>
  </div>
  <div class="field">
    <%= f.input :body_location, 
    :collection => [['arm',:arm], ['hand',:hand],['neck',:neck],['chest',:chest],['back',:back],['torso',:torso], ['leg',:leg], ['foot',:foot], ['other', :other]]
     %>
  </div>
  <div class="field">
    <%= f.input :artist_name, label:"Artist's Name"%>
  </div>
  <div class="field">
    <%= f.input :studio%>
  </div>
  <div class="field">
    <%= f.input :location, :placeholder => 'eg. Austin, Texas' %>
  </div>
  <div class="field"> 
    <%= f.input :hashtags, :placeholder => "#blackandwhite, #color, #typography, #abstract" %>
  </div> 
  <div class="form-actions">
    <%= f.button :submit, "Submit", class: 'small button' %>
  </div>
<% end %>

