<%= simple_form_for(@tattoo) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <%= f.input :picture, :as => :file %>
  </div>
  <div class="field">
    <%= f.input :description, :placeholder => "Share the story of this tattoo." %>
  </div>
  <div class="field">
    <%= f.input :gender, :collection =>[['Female',:female],['Male',:male]], :as => :radio_buttons %>
  </div>
  <div class="field">
    <%= f.input :body_location, 
    :collection => [['shoulder',:shoulder], ['arm',:arm], ['upper back',:upper_back], ['torso',:torso], ['lower back',:lower_back], ['face',:face], ['neck',:neck], ['calf',:calf], ['leg',:leg], ['other', :other]]
     %>
  </div>
  <div class="field">
    <%= f.input :artist_name%>
  </div>
  <div class="field">
    <%= f.input :studio%>
  </div>
  <div class="field">
    <%= f.input :location, :placeholder => 'eg. Austin, Texas' %>
  </div>
 <div class="field">
    <%= f.input :hashtags %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Submit", class: 'button tiny' %>
  </div>
<% end %>

