<h1>All tattoos</h1>

<table>
  <tr>
    <th>Pic</th>
    <th>Story</th>
    <th>Hashtags</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tattoos.each do |tattoo| %>
  <tr>
    <td><%=image_tag(tattoo.picture_url) if tattoo.picture.present?%></td>
    <td><%= tattoo.description %></td>
    <td><%= tattoo.hashtags %></td>
    <td><%= link_to 'Show', tattoo %></td>
    <td><%= link_to 'Edit', edit_tattoo_path(tattoo) %></td>
    <td><%= link_to 'Delete', tattoo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Tattoo', new_tattoo_path %>
