<div id="banner_img">
<!--   Micah<br>
  Developer<br>
  Inked at SHOP in Austin, TX<br>
  Inspired by painter Mike Ming -->
</div>

<!-- Masonry Container -->
<div id="masonryContainer">
    <% if @tattoos %> 
      <% @tattoos.each do |tattoo| %>
        <div class="masonry-brick">
        <%= link_to image_tag(tattoo.picture_url(:medium)), tattoo %>
        </div>
      <% end %>
     <% end %> 
  <div class="masonry-brick">
    <img src="http://placehold.it/500x600&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x700&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x400&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x200&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x300&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x600&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x700&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x400&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x200&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x200&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x300&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x600&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x700&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x400&text=Item">
  </div>
  <div class="masonry-brick">
    <img src="http://placehold.it/500x200&text=Item">
  </div>
</div>
  <div id="myModal" class="reveal-modal">
    <h2>Are You A Tattoo Artist?</h2>
    <p class="lead">Create Your Online Portfolio Now.</p>
    <p>HASHTAT lets tattoo artists, apprentices, and more create an online portfolio of work to share with prospective clients and employers. Start building yours now.</p>
    <%= form_tag "/change_to_artist" do %>
      <%= hidden_field_tag :change_artist, :value => "yes" %>
      <%= submit_tag "Yes" %>
    <% end %>
    <%= form_tag "/change_to_artist" do %>
      <%= hidden_field_tag :change_artist, :value => "no" %>
      <%= submit_tag "No!" %>
    <% end %>
    <%= form_tag "/change_to_artist" do %>
      <%= hidden_field_tag :change_artist, :value => "maybe" %>
      <%= submit_tag "I'll decide later" %>


<% end %>

  <a class="close-reveal-modal">&#215;</a>
</div>