/ %nav.breadcrumbs
/   = link_to 'Tattoos', tattoos_path
/   = link_to current_user.username, user_path
/   %a.current{:href => "#"} tattoo.title
/
/ = link_to 'Back', tattoos_path
#tattoo_info
  #photo_div
    - if @tattoo.picture.present?
      #pic= image_tag @tattoo.picture_url(:medium)
      = like_button(@tattoo, current_user)

    - if @user == current_user.id
      = link_to 'Edit', edit_tattoo_path(@tattoo) 
      = link_to 'Delete', @tattoo, method: :delete, data: { confirm: 'Are you sure?' } |

  #description
    %p.title Story
    %p.tattoo_description= @tattoo.description

    %p.title Gender
    %p.tattoo_gender= @tattoo.gender

    %p.title Location on Body
    %p.tattoo_body_location= @tattoo.body_location

    %p.title Artist
    %p.tattoo_artist_name= @tattoo.artist_name

    %p.title Studio
    %p.tattoo_studio= @tattoo.studio

    %p.title Location
    %p.tattoo_location= @tattoo.location

    %p.title HashTags
    %p.tattoo_hashtags= @tattoo.hashtags

#comments
= render 'comments'








