/ %nav.breadcrumbs
/   = link_to 'Tattoos', tattoos_path
/   = link_to current_user.username, user_path
/   %a.current{:href => "#"} tattoo.title
/
/ = link_to 'Back', tattoos_path
#tattoo_info
  #photo_div
    #photo
      = show_tattoo_photo(@tattoo)
    = like_button(@tattoo, current_user)

    - if @user == current_user.id
      = link_to 'Edit', edit_tattoo_path(@tattoo) 
      = link_to 'Delete', @tattoo, method: :delete, data: { confirm: 'Are you sure?' } |

    %br
    %br
      - if @tattoo.artist
        %p.title Inked By
        %p.tattoo_adder 
          = link_to "#{@tattoo.artist.full_name}", artist_path(@tattoo.artist)
      - else
        %p.title Added By
        %p.tattoo_adder 
          = link_to "#{@tattoo.user.username}", user_path(@tattoo.user)
  #description

    - if @tattoo.description.present?
      %p.title Story
      %p.tattoo_description= @tattoo.description

    - if @tattoo.gender.present?
      %p.title Gender
      %p.tattoo_gender= @tattoo.gender

    - if @tattoo.body_location.present?
      %p.title Location on Body
      %p.tattoo_body_location= @tattoo.body_location

    - if @tattoo.artist_name.present?
      %p.title Artist
      %p.tattoo_artist_name= @tattoo.artist_name

    - if @tattoo.studio.present?
      %p.title studio
      %p.tattoo_studio= @tattoo.studio

    - if @tattoo.location.present?
      %p.title Location
      %p.tattoo_location= @tattoo.location

    - if @tattoo.hashtags.present?
      %p.title HashTags
      %p.tattoo_hashtags= @tattoo.hashtags

#comments
= render 'comments'








