%p#notice= notice
- if @tattoo.picture.exists?
	= image_tag @tattoo.picture
%p.tattoo_description= @tattoo.description

= render 'comments'

= link_to 'Edit', edit_tattoo_path(@tattoo) |
= link_to 'Back', tattoos_path
