%p#notice= notice

#photo
	- if @tattoo.picture.present?
		= image_tag @tattoo.picture_url(:medium)
	- if @user == current_user.id
		= link_to 'Edit', edit_tattoo_path(@tattoo) 
		= link_to 'Delete', @tattoo, method: :delete, data: { confirm: 'Are you sure?' } |

#description
	%p.title Story
	%p.tattoo_description= @tattoo.description

	%p.title Location on Body
	%p.tattoo_body_location= @tattoo.body_location

	%p.title Artist
	%p.tattoo_artist= @tattoo.artist

	%p.title studio
	%p.tattoo_studio= @tattoo.studio

	%p.title HashTags
	%p.tattoo_hashtags= @tattoo.hashtags

#comments
	= render 'comments'






