.abouttext.large-12.columns
  %h1 HASHTAT
  %p.top
    is a community for tattoo art and the stories behind the ink. We're three art-loving women who learned to code in 10 weeks, culminating in hashtat.com. We attended Austin's first development bootcamp,
    = succeed "," do
      %a{:href => "http://www.themakersquare.com"} MakerSquare
    and didn't know a lick of code prior to the experience.


.row.pics
  .large-4.columns
    .avatar.shannon
      = image_tag("cshannon.gif")
      %p Shannon
      %p.bio 
        The Back End Beast
        %br @s_byrne
  .large-4.columns
    .doa.avatar
      = image_tag("cdoa.gif")
      %p Doa
      %p.bio 
        The Front End Freak
        %br @doaboa
  .large-4.columns
    .tina.avatar
      = image_tag("ctina.gif")
      %p Tina
      %p.bio 
        The Merge Master
        %br @tinapshah

.subtext.large-6.columns
  %h1 PLUS ONE
  %p
    We stand on the shoulders of the patient teachers, mentors and coders who believed in us and inspire us to keep building.
    %p
      Many thanks to the MKS founders, Aaron Scruggs, Micah Frazier, Gilbert Garza, Matthew Buck, Mike Ornellas, Nathaniel Jones, Christina Day, Scott Bellware, Mando Escamilla, Damon Clinkscales, Sam Kapila, Nick Zadrozny, and Andres Angulo.


.subtext.large-offset-1.columns.large-5.columns
  %h1 CONTACT
  %p 
    We built HashTat for you, so when it comes to your feedback, we're all ears. Let us know if you found a bug, if you have ideas to make the site better, or just to say hi.  We like people with tattoos.
    %p
      Tweet us @mrhashtat or shoot an e-mail to
      = succeed "," do
        %a{:href => "mailto:mrhashtat@gmail.com"} mrhashtat@gmail.com

