<div id="logModal" class="reveal-modal small" style="padding: 0px;">
  <div class="section-container auto" data-section>
    <section class="active">
      <p class="title" data-section-title><a href="#panel1">Sign Up</a></p>
      <div class="content" data-section-content>
        <br>
        <hr>
        <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
            <%= f.error_notification %>
            <%= display_base_errors resource %>
            <%= f.input :username, :label => "Username", :autofocus => true %>
            <%= f.input :email, :required => true %>
            <% if f.object.password_required? %>
                <%= f.input :password, :required => true %>
                <%= f.input :password_confirmation, :required => true %>
            <% end %>
            <%= f.label "I have read and accept the terms of service" %>
            <%= f.check_box :terms_of_service %>
            <%= f.label "I would like to be signed up for the newsletter" %>
            <%= f.check_box :newsletter %>
            <br>

            <%= f.button :submit, 'Sign Up', :class => 'small button' %>
        <% end %>
        <% if devise_mapping.omniauthable? %>
            <% User.omniauth_providers.each do |provider| %>
                <%= link_to "Sign Up with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'medium button' %>
                <br/>
            <% end %>
          <% end %>
          <br>
            <hr>
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
                <%= f.error_notification %>
                <%= display_base_errors resource %>
                <%= f.input :username, :label => "Username", :autofocus => true %>
                <%= f.input :email, :required => true %>
                <% if f.object.password_required? %>
                  <%= f.input :password, :required => true %>
                  <%= f.input :password_confirmation, :required => true %>
                <% end %>
                <%= f.label "I have read and accept the terms of service" %>
                <%= f.check_box :terms_of_service %>
                <%= f.label "I would like to be signed up for the newsletter" %>
                <%= f.check_box :newsletter %>
                <br>

                <%= f.button :submit, 'Sign Up', :class => 'small button' %>
              <% end %>
            </hr>
          </br>
        </div>
        <% end %>
      </div>
    </section>
    <section>
      <p class="title" data-section-title><a href="#panel2">Login</a></p>
      <div class="content" data-section-content>
        <div class="log_in">
          <h2>Log in.</h2>
          <% if devise_mapping.omniauthable? %>
              <% User.omniauth_providers.each do |provider| %>
                  <%= link_to "Log In with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'medium button twitter_btn' %>
                  <br/>
              <% end %>
          <% end %>
          <br>
          <hr>
          <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical' }) do |f| %>
              <%= f.input :email, :autofocus => true %>
              <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
                  <%= f.input :password %>
                  <% if devise_mapping.recoverable? && controller_name != 'passwords' %>
                      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
                      <br/>
                  <% end %>
                  <br/>
              <% end %>
              <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
              <br>
              <%= f.button :submit, "Log in", :class => 'small button' %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
