<!-- Header and Nav -->
 <div class = "fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <%= link_to "H A S H T A T", root_path %>
        </h1>
      </li>
    </ul>
 
    <section class="top-bar-section">
 
      <!-- Right Nav Section -->
      <ul class="right">
         <li>
            <%= link_to "About"%>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Add a Tat", new_tattoo_path %>
          </li>
          <li id="search">
           <%= form_tag '/search', :method => :get do %>
            <%= text_field_tag :q, params[:q], :placeholder => "search" %>
            <!-- <%= submit_tag "search" %> -->
          </li>
          <% end %>
          <li class="has-dropdown">
            <%=link_to current_user.username, user_path(current_user) %>

            <ul class="dropdown">
              <li>
              <%= link_to 'Edit Profile' %>
              </li>
      
              <li>
              <%= link_to 'Settings', edit_user_registration_path %>
              </li>
              <%# if current_user.has_role? :admin %>
                <!-- <li> -->
                <%#= link_to 'Admin', users_path %>
                <!-- </li> -->
              <%# end %>
              <!-- <li> -->  
           
              <li>
              <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
              <li>
              </ul>
          </li>

        <% end %>

      </ul>
    </section>
  </nav>
</div>
 
 
  <!-- End Header and Nav -->


