<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HashTat" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HashTat" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</script>
    <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
    <%= yield(:head) %>
  </head>




  <body class="<%= controller_name %> <%= action_name %>">
 

<!-- Nav -->

      
  <%= render 'layouts/navigation' %>

  
  
  <!-- Content -->
  
  <div class="row full-width">
      <div id="main" role="main" class="large-12 columns">
<!--       <%= render 'layouts/messages' %>
 -->
        <%= yield %>
      </div>
  </div>
  
  
  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Tina, Doa and Shannon</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>




  </body>
</html>
