<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HashTat" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HashTat" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>




  <body class="<%= controller_name %> <%= action_name %>">
 
 <!-- Facebook Like JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1376057452618930";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   

<!-- Nav -->

      
  <%= render 'layouts/navigation' %>

  
  
  <!-- SideNav -->
<!--   <div id="navbar" class="small-1 column">
    <div id="navbar" class="fixed">
      <ul class="side-nav"> -->
       <!-- <<li>
          <%= link_to "+Tat", new_tattoo_path %> 
        </li>  -->
        <!-- <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li> -->
   <!--    </ul>
    </div>
  </div> -->

  <!-- Content -->

  
    <div class="row">
      <div id="main" role="main" class="large-12 columns">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>


    <%= javascript_include_tag "application" %>
  </body>
</html>
