<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HashTat" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "HashTat" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</script>
    <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
    <%= yield(:head) %>
  </head>




  <body class="<%= controller_name %> <%= action_name %>">
 
 <!-- Facebook Like JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1376057452618930";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
   

<!-- Nav -->

      
  <%= render 'layouts/navigation' %>

  
  
  <!-- SideNav -->
<!--   <div id="navbar" class="small-1 column">
    <div id="navbar" class="fixed">
      <ul class="side-nav"> -->
       <!-- <<li>
          <%= link_to "+Tat", new_tattoo_path %> 
        </li>  -->
        <!-- <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li> -->
   <!--    </ul>
    </div>
  </div> -->

  <!-- Content -->

    <div class="row full-width">
      <div id="main" role="main" class="large-12 columns">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>

  
  <!-- Footer -->
  
<!--   <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; HackHAUS</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Pinterest</a></li>
            <li><a href="#">E-mail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 -->



  </body>
</html>
